
@{
    ViewData["Title"] = "NormalDashBoard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>NormalDashBoard</h1>
<br />
<br />
<hr />
<center>
<div class="card">
    <h5 class="card-header">- You Should BUY Service -</h5>
    <div class="card-body">
        <h5 class="card-title">for use features </h5>
        <p class="card-text">when you buy service so you will get better performance and more featues for using and accessing service </p>
        <a class="btn btn-primary" asp-controller="UserDashboard" asp-action="SubscriptionList" >Go to Service List</a>
    </div>
</div>
</center>

