@model Subscription_based_marketing.DTO.AdminDto
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>AdminstratorAccount</h4>
@if (TempData["LoginError"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["LoginError"]</strong><br /> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (TempData["Registered"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["Registered"]</strong><br /> Your Have Create Successfully Account now you can Login Here
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminUserName" class="control-label"></label>
                <input asp-for="AdminUserName" class="form-control"  />
                <span asp-validation-for="AdminUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control "  />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="LOGIN" class="btn btn-outline-primary" />
            </div>
            
        </form>
        
    </div>
</div>

<div>
    <strong>If You Don't Have Account   <a asp-action="Register">Click Here</a></strong>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
